.contacto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
    height: 100vh;
    background-color: #f7f7f7;
}

body {
    background-color: #f7f7f7;
}

.contacto-container h1 {
    font-size: 24px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}